<!DOCTYPE html>

<head>
    <title>contents</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>


<body>

    contents page
    <div class="list">
        <br>
        <li class="title"><%= "Title:" + contents.title %></li>
        <br>
        <li>
            <%= "내용:" + contents.description %>
        </li>
        <br>
        <li>
            <%= "when_written: " + contents.when_written %>
        </li>
        <br>
        <li>
            <%= "last_updated: " + contents.last_updated %>
        </li>
    </div>

<% var updatelink = "/list/update/" + contents.doc_identifier; %>
<a href = <%=updatelink %>>update</a>
||
<% var deletelink="/list/delete/" + contents.doc_identifier; %>
<a href= <%=deletelink %>>delete</a>
</body>