<!DOCTYPE html>

<head>
    <title><%= contents.title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>


<body>

    <a href="/auth/logout" style="float:right"> logout </a>
    <div class="list">
        <br>
        <h2 class="title"><%= contents.title %></h2>
        <div class="userinfo">
            <b><%= contents.nickname %></b> <br>
            <%= "글 작성 시간: " + contents.when_written %><br>
            <%= "마지막 수정: " + contents.last_updated %>
        </div>

        <br>
        
            <%= contents.description %>
      
        <br>
        
           
        
        <br>
      
    </div>

<% var updatelink = "/list/update/" + contents.doc_identifier; %>
<a href = <%=updatelink %>>update</a>
||
<% var deletelink="/list/delete/" + contents.doc_identifier; %>
<a href= <%=deletelink %>>delete</a>
</body>