<!DOCTYPE html>
<head>
    <title>List</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>


<body>

   
    <a href="/auth/logout"  style= "float:right" > logout </a>
    <h2 class = 'diary'>  <%= nickname %>'s Diary</h2>
    <a href = "/list/create" style= "float:right" >새 글쓰기</a>
    
    
    <% for(var i =0; i < lists.length; i++) { %>
    <% var user="/list/" +lists[i].user_identifier + "/" + lists[i].doc_identifier; %>
 
    <div class="list">
    <br><br>
    <ui><a href= <%= user %> ><%= i + 1 + '. ' + lists[i].title %></a></ui>
    <!-- <br>
    <li><%= "내용:" + lists[i].description %></li>
    <br>
    <li><%= "when_written: " + lists[i].when_written %></li>
    <br>
    <li><%= "last_updated: " + lists[i].last_updated %></li> -->
    <hr/>
    </div>
<% } %>
    




</body>